.form {
  display: flex;
  flex-direction: column;

  .label {
    color: #CD3333;
  }

  .input {
    margin-top: 6px;
    width: 140px;
    border-radius: 10px;
    border: solid 1px gray;
  }
}

@media screen and (max-width: 480px) {
  .form .input {
    margin-top: 8px;
    width: 195px;
    height: 32px;
    margin-bottom: 35px;
  }
}
