footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CD3333;
  color: #ffffff;
  box-sizing: border-box;
  left: 0;
}
