.game-page {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 24px);

  .info {
    width: 460px;
    height: 250px;

    p {
      font-size: 26px;
      color: #CD3333;
    }
  }

  .select-player {
    display: flex;

    .start-play-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image-vs {
      height: 66px;
      align-self: center;
      margin-bottom: 16px;
    }
  }

  .somente-mobile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .game-page {
    .info {
      width: auto;
    }

    .select-player {
      flex-direction: column;
      height: 500px;
      justify-content: space-around;
    }
  }
}
