.column {
  width: 100px;
  height: 100px;
  border-right: solid 1px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .column {
    width: 94px;
    height: 91px;
  }
}
