.home-page {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;

  .image-marvel {
    width: 450px;
    height: 300px;
  }

  .start-game {
    width: 500px;
    text-align: center;

    p {
      font-size: 26px;
      color: #CD3333;
    }
  }
}
